.tour{
  width: 100%;
  .img{
    width: 100%;
    height: 50%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .comments{
    width: 100%;
    padding: 20px;
    background: rgba(230, 230, 230, .3);
    font-weight: 600;
  }
}
.text{
  padding: 35px;
}
